<div class="container">

  <h1>SquirrelBlog&#0153;</h1>

  <h2>All Posts:</h2>
  <hr>

  <% @all_entries.each do |post| %>
    <div>

      <h3><a href="/post/<%= post.id %>"><%= post.title %></a></h3>

    </div>
  <% end %>

</div>