<div class="container">

  <h1>SquirrelBlog</h1>

  <form id ="login" action="/create" method="post">
    <h2>Create a new post:</h2>

    <input type="text" name="post[title]" placeholder="Enter your title here:"><br><br>
    <textarea cols="50" rows="5" name="post[content]"> </textarea><br><br>
    <input type="text" name="tags" placeholder="Enter your tags here:"><br><br>
    <input type="submit" value="Post!">
  </form>

</div>